:root {
	/* color */
	--clr_primary: rgb(29, 44, 68);
	--clr_button: rgba(13, 245, 227);
	--clr_button_secondary: rgb(208, 190, 212);
	--clr_secondary: rgba(55, 49, 66);
	--clr_text_light: rgb(208, 190, 212);
	--clr_text_dark: rgb(121, 117, 117);
	--clr_text_dark_alpha: rgb(121, 117, 117, 0.9);
	--clr_danger: rgb(168, 6, 6);
	--clr_success: hsl(112, 92%, 28%);

	/* spacing */
	--space_xs: 0.5rem;
	--space_s: 1rem;
	--space_m: 2rem;
	--space_l: 3rem;
	--space_xl: 5rem;

	/* fonts size */
	--fonts_xs: 0.5rem;
	--fonts_s: 1rem;
	--fonts_m: 2rem;
	--fonts_l: 3rem;
	--fonts_xl: 5rem;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: var(--clr_text_light);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: var(--clr_text_light);
}

html,
body {
	background-color: var(--clr_primary);
	overflow-x: hidden;
	overscroll-behavior: none;
	margin: 0;
	padding: 0;
}
#root {
	padding: var(--space_s);
	inline-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img {
	display: block;
	max-width: 100%;
}
:focus {
	outline: none;
}

/* svg {
	pointer-events: none;
} */
.btn {
	display: inline-block;
	height: calc(var(--space_s) + 0.8rem);
	min-width: var(--space_xl);
	color: var(--clr_text_light);
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.6rem;
	border: 2px solid var(--clr_text_light);
	border-radius: 7px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}

	&:focus-within {
		box-shadow: 0 0 0 3px var(--clr_primary), 0 0 0 4px var(--clr_button);
		outline: none;
	}
}
