.header {
	display: flex;
	justify-content: space-between;

	& .link:focus-within {
		border: 1px dashed var(--clr_button);
		border-radius: 5px;
		padding: 5px 5px 2px 5px;
	}

	& .logo {
		pointer-events: visible;
		color: var(--clr_text_light);
	}
	& .nav {
		display: flex;
		gap: var(--space_s);
	}
}
.main {
	height: 100%;
	margin: 0 auto;
}
.footer {
	position: absolute;
	bottom: 0rem;
	left: 0;
	width: 100vw;
	margin: 0;
	padding: 0;

	& .footer__text {
		display: block;
		letter-spacing: 0.1rem;
		text-align: center;
		font-size: var(--fonts_xxs);
	}
}
