.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--space_m);
	background-color: inherit;
	max-width: 450px;
	min-width: 300px;
	height: 100%;
	margin: auto;

	& .input {
		width: 60%;
		color: var(--clr_text_light);
		height: 2.5rem;
		border: none;
		border-bottom: solid 2px var(--clr_text_light);
		background-color: transparent;
		padding: var(--space_s);

		& ::placeholder {
			color: var(--clr_button);
		}
		&:focus {
			color: var(--clr_button);
			outline-color: var(--clr_text_light);
			outline: none;
		}
	}

	& .eye {
		position: relative;
		cursor: pointer;
		top: -7.6rem;
		right: -6rem;
	}

	& .btn_wrapper {
		display: flex;
		position: relative;
		justify-content: center;
		width: 60%;

		& .resetPassword {
			position: absolute;
			top: -1.4rem;
			right: 0;
			font-size: var(--fonts_xs);
			pointer-events: visible;

			&:focus-within {
				border: 1px dashed var(--clr_button);
				border-radius: 3px;
				padding: 3px;
			}
		}

		& .btn {
			background-color: var(--clr_primary);
		}
	}
}
