
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  pointer-events: visible;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  display: grid;
  font-size:var(--fonts_xs);
  letter-spacing: .2rem;
}
