.header {
	display: flex;
	justify-content: space-between;
}
.header__logo {
	pointer-events: visible;
}
.footer {
	position: relative;
	bottom: 1rem;
	width: 100vw;
	margin: 0;
	padding: 0;
}
.footer__text {
	display: grid;
	position: absolute;
	font-size: var(--fonts_xs);
	letter-spacing: 0.2rem;
	left: 50%;
}
