:root {
  --clr_primary: rgb(29, 44, 68);
  --clr_button: rgba(13, 245, 227);
  --clr_button_secondary: rgb(208, 190, 212);
  --clr_secondary: rgba(55, 49, 66);
  --clr_text_light: rgb(208, 190, 212);
  --clr_text_dark: rgb(121, 117, 117);
  --clr_text_dark_alpha: rgb(121, 117, 117, 0.9);
  --clr_danger: rgb(168, 6, 6);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color:var(--clr_text_light);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
	text-decoration: none;
}

body {
  background-color: var(--clr_primary);
  margin: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  pointer-events: none;
}

